@import "tailwindcss";

@theme {
  --color-main: #5376cb;
  --color-hover: #3154a9;
  --color-light-hover: #6487dc;
  --color-dark-hover: #4265ba;
  --color-supdark-hover: #3154a9;
  --color-white: #f5f5f5;
  --color-dark: #161a4c;
  --color-secondary: #71717b;

  --shadow-nav-mobile: 0px 1px 3px 0.5px #00000033;
  --shadow-nav-pc: 0px -1px 3px 0.5px #00000033;

  --drop-shadow-2xs: 0 0px 0.5px rgba(0, 0, 0, 0.1);
  --drop-shadow-3xs: 0 0px 0.375px rgba(0, 0, 0, 0.1);
  --drop-shadow-4xs: 0 0px 0.25px rgba(0, 0, 0, 0.1);
  --drop-shadow-5xs: 0 0px 0.2px rgba(0, 0, 0, 0.1);
  --drop-shadow-6xs: 0 0px 0.1px rgba(0, 0, 0, 0.1);

  --scroll-bar-color: #e3e2e9;
  --scroll-thumb-color: #c8c6d2;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

.active {
  color: var(--color-main);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-white);
  color: var(--color-dark);
  overflow-x: hidden;
  overflow-y: visible;
}
a {
  text-decoration: none;
  color: unset;
}
