@import "tailwindcss";

@theme{
  --color-main: #7f22fe;
  --drop-shadow-2xs: 0 0px 0.5px rgba(0, 0, 0, 0.1); 
  --drop-shadow-3xs: 0 0px 0.25px rgba(0, 0, 0, 0.1); 
  --drop-shadow-4xs: 0 0px 0.2px rgba(0, 0, 0, 0.1); 
  --drop-shadow-5xs: 0 0px 0.1px rgba(0, 0, 0, 0.1); 
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}
a {
  text-decoration: unset;
  color: unset;
}

